div.row > * {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid grey;
}

div[name] { width: 400px; text-align: right; }
.innerHTML[name] { background-color: lightgrey; }
.predictive[name] { background-color: pink; }
.upgrade[name] { background-color: lightgreen;}
.NEW[name] { background-color: lightblue; }
.cloneNode[name] { background-color: yellow; }
.upgrade[name] { background-color: lightgreen; }


div[value='false'] { display: none; }
.isConnected[value='true'] {background-color: blue;}
.hasParentNode[value='true'] {background-color: lightblue;}
.hasAttributes[value='true'] {background-color: orange;}
.hasChildNodes[value='true'] {background-color: hotpink;}

.isLoading[value='true'] {background-color: yellow;}
.isCurrentScript[value='true'] {background-color: grey;}
.isEventListener[value='true'] {background-color: darkgrey;}

.currentElementIsLastElement[value='true'] {background-color: purple;}
.currentScriptIsLastElement[value='true'] {background-color: mediumpurple;}
.syncUpgrade[value='true'] {background-color: red;}
.predictive[value='true'] {background-color: green;}
.NEW[value='true'] {background-color: brown;}
.error {background-color: red;}