div[table] {
  display: grid;
  grid-template-columns: 400px auto;
}
div[name] { text-align: right; position: relative; }
div#code {
  display: none;
  position: absolute;
  z-index: 100;
  background: white;
  border: 2px solid grey;
  text-align: left;
  font-family: monospace;
  padding: 10px;
}
div[name]:hover #code {
  display: block;
}

div[value] {
  box-sizing: border-box;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid grey;
}

.innerHTML[name] { background-color: lightgrey; }
.predictive[name] { background-color: pink; }
.upgrade[name] { background-color: lightgreen;}
.NEW[name] { background-color: lightblue; }
.cloneNode[name] { background-color: yellow; }
.upgrade[name] { background-color: lightgreen; }


div[value='false'] { display: none; }
.isConnected[value='true'] {background-color: blue;}
.hasParentNode[value='true'] {background-color: lightblue;}
.hasAttributes[value='true'] {background-color: orange;}
.hasChildNodes[value='true'] {background-color: hotpink;}

.isLoading[value='true'] {background-color: yellow;}
.isCurrentScript[value='true'] {background-color: grey;}
.isEventListener[value='true'] {background-color: darkgrey;}

.currentElementIsLastElement[value='true'] {background-color: purple;}
.currentScriptIsLastElement[value='true'] {background-color: mediumpurple;}
.syncUpgrade[value='true'] {background-color: red;}
.predictive[value='true'] {background-color: green;}
.NEW[value='true'] {background-color: brown;}
.error:not([value]) {background-color: red;}

:host([hasAttributes]) div.row:not(.hasAttributes),
:host([hasChildNodes]) div.row:not(.hasChildNodes),
:host([isConnected]) div.row:not(.isConnected),
:host([isLoading]) div.row:not(.isLoading),
:host([isCurrentScript]) div.row:not(.isCurrentScript),
:host([isEventListener]) div.row:not(.isEventListener),
:host([currentElementIsLastElement]) div.row:not(.currentElementIsLastElement),
:host([currentScriptIsLastElement]) div.row:not(.currentScriptIsLastElement),
:host([syncUpgrade]) div.row:not(.syncUpgrade),
:host([predictive]) div.row:not(.predictive),
:host([NEW]) div.row:not(.NEW),
:host([hasParentNode]) div.row:not(.hasParentNode) {
  display: none;
}